<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online payment</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        .card-style {
            width: 350px;
            margin: auto;
            padding: 20px;
            border-radius: 10px;
            background: linear-gradient(to bottom right, #ffffff, #f8f9fa);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .card-style input, .card-style select {
            margin-bottom: 15px;
        }
        #loading {
            text-align: center;
            margin-top: 20px;
        }
        #receipt {
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center">Оплата: {{ payment.description }}</h2>
    <p class="text-center">Стоимость: {{ payment.amount }} {{ payment.currency }}.</p>

    <div class="card card-style">
        <form id="payment-form">
            <div class="form-group">
                <label for="cardNumber">Номер карты</label>
                <input type="text" class="form-control" id="cardNumber" placeholder="Введите номер карты" required>
            </div>
            <div class="form-group">
                <label for="expiryDate">Срок действия</label>
                <input type="text" class="form-control" id="expiryDate" placeholder="MM/YY" required>
            </div>
            <div class="form-group">
                <label for="cvv">CVV</label>
                <input type="text" class="form-control" id="cvv" placeholder="CVV" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block" id="payButton">Оплатить</button>
            <button type="button" class="btn btn-secondary btn-block" id="cancelButton">Отменить</button>
        </form>
    </div>

    <div id="loading" class="d-none">
        <p>Обработка платежа...</p>
    </div>

    <div id="receipt" class="d-none">
        <p>Платеж успешно обработан!</p>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#cancelButton').click(function() {
            window.location.href = '{{ payment.redirect }}';
        });

        $('#payment-form').submit(function(event) {
            event.preventDefault();
            $('#payButton').prop('disabled', true);
            $('#loading').removeClass('d-none');

            $.ajax({
                url: '{% url "process_payment" %}',
                type: 'POST',
                contentType: 'application/json',
                headers: {
                    'Authorization': `Token ${localStorage.getItem('notCoursesPrefix_authToken')}`,
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                data: JSON.stringify({
                    card_number: $('#cardNumber').val(),
                    expiry_date: $('#expiryDate').val(),
                    cvv: $('#cvv').val(),
                    bank: $('#bank').val(),
                    course_uuid: '{{ course_info.uuid }}',
                }),
                success: function(response) {
                    $('#loading').addClass('d-none');
                    if (response.status === 'success') {
                        window.location.href = '{% url "success_page" %}';
                    } else {
                        alert(response.message);
                        $('#payButton').prop('disabled', false);
                    }
                },
                error: function() {
                    $('#loading').addClass('d-none');
                    alert('Произошла ошибка при обработке платежа.');
                    $('#payButton').prop('disabled', false);
                }
            });
        });
    });
</script>
</body>
</html>
